<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<h1>into hddddddddddddd1</h1>
<h3>Генр333и Ли III (англ. Henry Lee III; 29 января 1756 — 25 марта 1818) — американский военный, участник Войны за независимость США, делегат Конгресса Конфедерации от Виргинии, впоследствии 9-й губернатор штата Виргиния и депутат Палаты представителей США от Виргинии, отец генерала армии Конфедерации Роберта Ли.

    В годы войны Ли служил офицером кавалерии в Континентальной армии, командовал специальным отрядом лёгкой кавалерии и был известен под именем «Легкоконный Гарри». Он занимался в основном разведкой и охотой за фуражирами противника, но в 1779 году лично спланировал и осуществил нападение на форт Паулус-Хук, за что был награждён золотой медалью Конгресса. Ли участвовал в боях на Южном театре войны и был свидетелем капитуляции Корнуоллиса под Йорктауном. После войны он женился, был делегатом Конгресса Конфедерации и Виргинского ратификационного конгресса, где активно выступал за ратификацию Конституции США. Он стал противником экономической политики Гамильтона, что помогло ему в 1791 году стать губернатором Виргинии.

    В 1794 году Ли снова принял армейское командование во время «восстания из-за виски», а в 1798 году про него вспомнили в связи с обострением отношений с Францией, однако так называемая Квазивойна так и не переросла в настоящую войну. В апреле 1799 года Генри Ли был избран в Палату представителей США. Его политическая карьера завершилась в 1801 году, после победы Джефферсона на президентских выборах. Ли стал вести жизнь плантатора, но его дела шли плохо, и он попал в долговую тюрьму, где написал мемуары о войне в Южных штатах в 1780 году. В 1812 году он сильно пострадал во время Балтиморского мятежа, после чего отправился на Карибы для поправки здоровья. На обратном пути он умер в Джорджии, в доме своего друга, генерала Грина.</h3>

</body>
</html>