<!DOCTYPE html>
<html lang = "eng">
    <head>
        <title>Lesson5</title>
        <meta http-equiv="Content-type" content="text/html;charset=UFT-8 /">
    <link rel="stylesheet" href="/home/a1berto/Desktop/p1/src/main/resources/templates"/>
    </head>
    <body>
        <div>
            <p class= "fff">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas nostrum <span >molestiae autem, quae fugit, rem eum </span>nulla, totam saepe ut odio ipsa quibusdam similique amet iure eveniet dicta non.
            </p >
            <p>
                Lorem <span class ="fff">ipsum dolor sit amet </span>dconsectetur adipisicing elit. Earum, provident consectetur vel parccccccccccccccciatur dolores itaque enim expedita tenetur, autem sed iusto, voluptatem tempora! Nulla explicabo quasi reprehenderit laborum veritatis ullam.
            </p>
            <p>Lorem <span class="dd">ipsum, dolor sit amet consect</span>   accusantium molestiae quam quisquam quos ad <span>adipisci ducimus, et explicabo hic</span>etur adipisicing</span>  elit. Quis ab ea cupiditate voluptatibus esse excepturi aut quaerat libero id, vel labore pariatur fuga minus possimus ipsam dolores sit dicta beatae!
            </p>
            <p class="sp">Lorem ipsum dolor sit<span  class="pink">elit. Suscipit enim eligendi
                 </span>   accusantium molestiae quam quis</span>   
                 accusantium molestiae quam quisquam quos ad <span>
                    adipisci ducimus, et explicabo hic</span>quam quos ad 
                    <span>adipisci ducimus, et explicabo hic</span>  
                    quod libero cumque doloremque! Porro qui labore id quas molestiae 
                    quis totam harum, dolorum rerum sunt ducimus. Nisi soluta consequatur
                     id quia illum cupiditate ipsum earum, fuga ut eos recusandae omnis
                      consequuntur natus eaque dolorum. Quidem repellendus, sequi
                       perspiciatis accusamus tempora, eligendi maxime doloremque
                        aspernatur ipsam labore ducimus! Repellendus minus, id architecto
                         tempora accusamus incidunt deleniti perferendis laudantium 
                         quibusdam voluptate voluptas enim aliquam beatae error quas
                          sint officiis nihil quasi rem eveniet maxime illo quos eos
                           quaerat. Veniam!</p>
        </div>
    <div>
        <a href="file">http://localhost:8080/file</a>
    </div>
        <div>
            <a href="greeting">http://localhost:8080/greeting</a>
        </div><div>
            <a href="home">http://localhost:8080/home</a>
        </div><div>
            <a href="lesson4">http://localhost:8080/lesson4</a>
        </div><div>
            <a href="lesson5">http://localhost:8080/lesson5</a>
        </div><div>
            <a href="love">http://localhost:8080/love</a>
        </div>
    </body>
</html>
